<h1>about us page</h1>
        <p>
          This is the about for the <a href="http://railstutorial.org/">Ruby on rails
          Tutorial applicationable applyable thingy</a> sample application
        </p>
