<h1>Sample app homepage</h1>
        <p>
          This is the homepage for the <a href="http://minecraft.net/">Ruby on rails
          Totuarial bleck blah HI TREVOR WELCOME TO MY PAGE hehehehehehehehehehe </a> sample application
        </p>

<%= link_to "Sign up NOW!", signup_path, :class => "signup_button round" %>
