<header>
            <%= image_tag("Selection_005.png", :alt => "Sample App Image",:class => "round") %>
            <nav class="round">
              <ul>
                <li><%= link_to "Home", '#' %></li>
                <li><%= link_to "Help", '#' %></li>
                <li><%= link_to "Sign In", '#' %></li>
              </ul>
            </nav>
          </header>